html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; /* Esto empuja el footer hacia abajo */
}

/* Asegurando que el footer siempre esté al fondo */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d53c3c;
  color: white;
  text-align: center;
  padding: 3px;
  box-shadow: 0 -2px 10px rgba(211, 13, 13, 0.1);
}

.footer span {
  font-size: 13px; /* Ajusta el tamaño de la fuente */
  font-weight: normal; /* Cambia el peso de la fuente (normal, bold, etc.) */
  color: #ffffff; /* Asegúrate de que el color sea legible */
  margin: 0; /* Elimina márgenes si es necesario */
}

